.chat {
    @include set-box(100%);
}

.chat_screen {
    height: calc(100% - 140px);
    overflow: auto;
    background: $bg-color;
    
    .chat_screen_bar {
        position: sticky;
        top: 0;
        z-index: 10;
    }
}

.chat_nick {
    font-size: 1em;
}
.chat_user {
    background: $main-light;
}

.bubble_container {
    // background-color: $main-light;
    padding-top: 20px;
}
.bubble_wrap {
    display: flex;
    .bubble_content{
        width: 80%;
        max-width: 700px;
    }
    .bubble_time{
        font-size: 0.7em;
        display: flex;
        align-items: self-end;
        padding-left: 10px;
    }
}
.self .bubble_wrap {
    flex-direction: row-reverse;

    .bubble_content {
        .preview_nick {text-align: right;}
    }
    .bubble_time {padding: 0; padding-right: 10px;}
}


.chat_form {
    background: #fff;
    height: 140px;
    padding: 10px;

    .chat_form_msg {
        @include set-box(75px, 100%);
        resize: none;
        border: none;
        outline: none;
        margin-bottom: 8px;
    }
    .chat_form_util {
        display: flex;
        justify-content: space-between;

        .chat_form_util_plugin {
            i {
                line-height: 35px;
                margin-right: 10px;
                color: $gray2;
            }
        }
        .chat_form_util_submit {
            .chat_form_btn {
                @include set-box(35px, 70px, 4px);
                border: none;
                color: $gray1;
            }
        }
    }
}